a{
    color: black;
    text-decoration: none;
}
.nav{
    height: 95px;
    padding: 0px 400px 0px 397px;
    display: inline-flex;
    flex-direction: row;
    background-color: white;
}

.logo{
    width: 185px;
    height: 80px;
}
.search{
    width: 650px;
    height: 50px;
    margin: 20px 395px 10px 5px;
    border-color: rgb(214, 214, 240);
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    font-size: large;
}
.schicon{
    margin: 35px 5px 0px 20px;
}
.dropdown{
    border-style: none; 
    background-color:white;
    font-size: large;
    padding-right: 19px;
    margin-right: 25px;
}
.btn{
    background-color: rgb(247, 45, 79);
    color: white;
    height: 35px;
    margin-top: 20px;
    padding: 0px 18px;
}
.menu{
    display: inline-block;
    flex-direction: column;
}
.section2{
    background-color: rgb(223, 223, 223);
    padding: 0px 0px 0px 390px;
    font-size: large;
}
.col{
    display: flex;
    flex-direction: row;
}
li{
    display: inline-block;
    padding-top: 20px;
    
}
