.header {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: inline;
  background-color: rgb(238, 238, 244);
  padding: 20px;
  position: fixed;
  margin-left: -310px;
  margin-top: -10px;
}
.font{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.main{
  margin-left: 300px;
  margin-right: 300px ;
}
.a li {
  color: black;
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
  margin: 0px 15px;
}
.a {
  display: inline;
  margin-left: 500px;
}
.patty{
  margin-top: 120px;
  width: 415px;
}
.b{
  width: 400px;
  text-align: justify;
}
.b1{
  margin-left: 300px;
}
.icon{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.c{
  width: 300px;
  padding: 0px;
  margin-left: 800px;
  margin-top: -2000px;
}
.fl{
  display: flex;
  flex-direction: row;
}
.o{
  width: 315px;
  margin-top: 120px;
  padding-left: 20px;
}
.o img{
  width: 305px;
}
.para{
  font-weight: 550;
}